{% extends "layout.html" %}

{% block content %}

  <div class="page-header">
    <h1>{{title}}</h1>
  </div>
  <div class="row">
    <div class="col-md-3">
      <img src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg"><br>
      <b>Your Name</b><br>
      100 followers
      {% if showForm %}
      <form action="/tweets" method="POST">

        <div class = 'form-group'>
          <label for="name_field">Name:</label>
          <input name="name" type="text" value = '{{name}}' id="name_field" />
        </div>
        <div class = 'form-group'>
          <label for="text_field">Text:</label>
          <input name="text" type="text" id="text_field"/>
        </div>

        <input class = "btn btn-default" type="submit" value="Submit" />
      </form>
    {% endif %}
    </div>
    <div class="col-md-9">
      <h3>All Tweets</h3>
      <!-- display tweets here -->
      {% for tweet in tweets %}
      <div class="content">
        <img class="authorPic" src="https://pbs.twimg.com/profile_images/2450268678/olxp11gnt09no2y2wpsh_normal.jpeg">
        <a href="/users/{{tweet.name}}"><p class="by">{{tweet.name}}</p></a>
        <a href = "/tweets/{{tweet.id}}"><p class = "tweet">{{tweet.text}}</p></a>
        <a href = "#">Re-tweet</a>
      </div>
      {% endfor %}

    </div>
  </div>

{% endblock %}
